.toggle-switch {
  position: absolute;
  height: 100%;
  min-width: 60px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  cursor: pointer;
  background: var(--primary-color-light);
  .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background-color: var(--toggle-color);
  }
  .switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: $tran-04;
    background-color: var(--sidebar-color);
  }
}
